@config "../tailwind.config.ts";
@import "tailwindcss";

/* 任务列表 */
.task-list-item::before {
  display: none;
  content: "";
}
.task-list-item {
  list-style: none;
}

/* footnotes */
.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}
.data-footnote-backref {
  @apply no-underline;
}

/* 引用样式 */
.csl-entry {
  @apply my-5;
}

/* 无滚动条 */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* 避免 autofill 样式 */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

/* katex */
.katex-display {
  overflow: auto hidden;
}

/* content header */
.content-header-link {
  opacity: 0;
  margin-left: -24px;
  padding-right: 4px;
}
.content-header:hover .content-header-link,
.content-header-link:hover {
  opacity: 1;
}
.linkicon {
  display: inline-block;
  vertical-align: middle;
}

/* Popular tags */
.popular-tags .javascript {
  @apply bg-amber-400;
}
.popular-tags .typescript {
  @apply bg-blue-500;
}
.popular-tags .nestjs {
  @apply bg-rose-500;
}
.popular-tags .react {
  @apply bg-sky-500;
}
.popular-tags .devops {
  @apply bg-sky-600;
}
.popular-tags .database {
  @apply bg-green-900;
}

/* Prose */
.prose {
  font-size: 18px;
}
.prose h2 {
  font-size: 28px;
  margin: 0 0 12px 0;
}
.prose h3 {
  font-size: 24px;
}
.prose img {
  margin: 0 auto;
  border-radius: 12px;
}
html:not(.dark) .prose blockquote {
  background: #ebebeb;
}
.dark .dark\:prose-invert blockquote,
.dark .prose.prose-invert blockquote {
  background: #5c6370;
}
